.level-language {font-weight: bold;}
.level-dialect {font-style: italic;}

div.codes {margin-top: 0.2em; margin-bottom: 0.5em;}

a.spurious {color: gray !important;}
a.unattested {color: seagreen !important;}
a.iso639-3 {font-family: monospace; font-weight: bold;} 

ul.jqtree-tree .jqtree-toggler {
    left: 5px;
    width: 1.1em;
    font-size: larger;
    top: 20% !important;
}
ul.jqtree-tree div.jqtree-element .jqtree-title {
    margin-left: 1.7em;
}
ul.jqtree-tree a.jqtree-toggler + .jqtree-title {
    margin-left: 1.7em !important;
}
ul.jqtree-tree ul{
  list-style-type: none;
  margin: 0 0 0 10px;
  padding: 0;
  position: relative;
  overflow:hidden;
}

ul.jqtree-tree li{
  margin: 0;
  padding: 0 12px;
  position: relative;
}

ul.jqtree-tree li::before, ul.jqtree-tree li::after{
  content: '';
  position: absolute;
  left: 0;
}

/* horizontal line on inner list items */
ul.jqtree-tree li::before{
  border-top: 1px solid #999;
  top: 10px;
  width: 10px;
  height: 0;
}

/* vertical line on list items */
ul.jqtree-tree li:after{
  border-left: 1px solid #999;
  height: 100%;
  width: 0px;
  top: -10px;
}

/* lower line on list items from the first level because they don't have parents */
ul.jqtree-tree > li::after{
  top: 10px;
}

/* hide line from the last of the first level list items */
ul.jqtree-tree > li:last-child::after{
  display: none;
}

span.selected a {color: orangered !important;}
span.lineage {border: 1px solid orangered !important;}

