.level-language {font-weight: bold;}
.level-dialect {font-style: italic;}

div.codes {margin-top: 0.2em; margin-bottom: 0.5em;}

a.spurious {color: gray !important;}
a.unattested {color: seagreen !important;}
