*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
archive
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.cache
.coverage
.tox
nosetests.xml
/htmlcov/

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea
data

/glottolog3/static/download
/geckodriver.log